<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../common/css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script language="javascript" type="text/javascript" src="../common/js/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="../common/js/jquery-ui.js"></script>
	<script language="javascript" type="text/javascript" src="../common/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
	<script language="javascript" type="text/javascript" src="../common/js/facebook.js"></script>
</head>
<body>
	<div id="container">
		LIKE US PLEASE
	</div>
	<div id="fb-root"></div>
	<script language="javascript" type="text/javascript">
		fbInit('221371547969690');
		fbSetAutoResize();
	</script>
</body>
</html>